
.timeline
{
    position: relative;
    padding-left: 2rem;

    &:before
    {
        content: "";
        display: inline-block;
        width: 3px;
        height: 100%;
        background: #c8cfd8;
        left: 6px;
        top: 4px;
        position: absolute;
    }

    .timeline-item
    {
        --color: #6f8098;
        position: relative;
        padding-bottom: 1.5rem !important;
        &::before
        {
            content: "";
            display: inline-block;
            position: absolute;
            left: -32px;
            top: 3px;
            width: 15px;
            height: 15px;
            border: 4px solid black;
            background: white;
            border-radius: 50%;

            border-color: var(--color);
        }

        .timeline-item-header
        {
            .timeline-item-header-title
            {
                font-size: 1.125rem;
                color: #434E5E;
            }
            .timeline-item-header-datetime
            {
                font-size: 0.875rem;
                color: $disabled-text;
            }
        }
        .timeline-item-content
        {
        }
    }
}
